html {
  color: $text-color;
  font-size: $font-size-base;
  font-family: $font-family-base;
}

body {
  background-color: $body-bg;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;
  transition: all .2s ease;

  &:hover, &:active {
    text-decoration: $link-hover-decoration;

    &:not(.btn) {
      color: $link-hover-color;
    }
  }

  .svg-icon {
    transition: fill .2s ease;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul, ol {
  list-style: none;
  padding: 0;
}

p, ul, ol, table {
  margin: 0;
  margin-bottom: .8em;
}

p {
  color: $base-color-light;
  line-height: (28 / $font-size-base) * 1px;
}